.card {
    margin-bottom: 1.5rem;
}

.dktk-title {
    color: #13477c;
}

.crud-btn {
    color: #13477c !important;
    border: 1px solid #13477c !important;
    text-decoration: none;
    margin: 0 20px;
}

.textPrimary {
    font-size: 20px;
    margin: 0 7px;
}