.button {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid;
    border-radius: 30px;
    font-size: 24px;
    width: fit-content;
}

.button:hover{
    background-color: #1b73d1;
    border-radius: 30px;
    color: #fff;
}

.button-title {
    font-size: 17px;
}

.primary {
    color: #008cff;
    border-color: #008cff;
}