@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --black: #000000;
    --white: #FAFAFA;
    --red: #DB4444;
    --green: #00FF66;
    --sub-background: #e5d6d6;

    /* // default layout */
    --default-layout-width: 1440px;

    --swiper-navigation-size: 24px;
    --swiper-theme-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #6c757d;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

ul {
    padding-left: 0 !important;
    margin-bottom: 0px !important;
    list-style: none;
}


.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #00a1d9;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.user-img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 0px solid #e5e5e5;
    padding: 0px;
}

.user-info .user-name {
    font-size: 15px;
    font-weight: 500;
    color: #413c3c;
}

.user-info .designattion {
    font-size: 13px;
    color: #a9a8a8;
}

.wrapper {
    display: flex;
    left: 0;
}

.topbar .navbar .dropdown-menu {
    -webkit-animation: .6s cubic-bezier(.25, .8, .25, 1) 0s normal forwards 1 animdropdown;
    animation: .6s cubic-bezier(.25, .8, .25, 1) 0s normal forwards 1 animdropdown;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    background: url(../../assets/image/baner-bg.png);
    /* background: #ffffff; */
    border-bottom: 1px solid #70bad5;
    z-index: 10;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.topbar .navbar {
    width: 100%;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.navbar {
    padding: 0 !important;
}

@media screen and (max-width: 1024px) {
    .topbar .navbar {
        width: auto;
    }
}

.notfound-page {
    display: flex;
    justify-content: center;
    padding-top: 85vh;
    font-size: 40px;
    font-weight: 600;
    color: #8a00c6;
    height: 100vh;
    width: 100vw;
    background: url(../../assets/image/404-status-code.png) no-repeat fixed center;
    background-size: contain;
}

@media screen and (max-width: 1270px) {
    .notfound-page {
        padding-top: 80vh;
    }
}

@media screen and (max-width: 1090px) {
    .notfound-page {
        padding-top: 75vh;
    }
}

@media screen and (max-width: 928px) {
    .notfound-page {
        padding-top: 70vh;
    }
}

@media screen and (max-width: 775px) {
    .notfound-page {
        padding-top: 65vh;
    }
}

@media screen and (max-width: 675px) {
    .notfound-page {
        padding-top: 64vh;
    }
}

.notFoundBtn {
    display: flex;
    justify-content: center;
    width: 270px;
    height: 60px;
    background-color: rgb(183 118 211);
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
}

@media screen and (max-width: 620px) {
    .notFoundBtn {
        display: none;
    }
}

.nav-container{
    position: fixed;
    top: 75px;
    right: 0;
    left: 0;
    z-index: 9;
    border-bottom: 1px solid #fb3434;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    background-clip: border-box;
    background: #612f88;
    width: 100%;
    height: 40px;
    padding: 0px 30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .nav-container {
        position: fixed;
        width: 280px;
        right: 0;
        z-index: 16;
        border-bottom: 1px solid #e4e4e4;
        background-clip: border-box;
        background: #ffffff;
        height: 100%;
        padding: 10px;
        display: none;
        align-items: start;
        justify-content: flex-start;
       
    }
}


.page-wrapper {
    height: 100%;
    margin-top: 115px;
    margin-bottom: 30px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #e6e6e6;
}

.page-content {
    padding: 1.5rem;
}
