.bg-main {
    background-image: url('../../assets/image/home-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh !important;
}