.bg-login {
    background-image: url(../../../assets/image/login-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.login-wrapper {
    width: 100%;
    position: relative;
}

.section-authentication-signin {
    height: 100vh;
}

.btn-login {
    background-color: #612f88 !important;
}