.dropdown-menus {
    display: none;
}

.show-dropdown{
    display: flex;
    flex-direction: column;
    top: 100%;
    position: absolute;
}

.dropdown-submenu {
    border: none !important;
    left: 100%;
    white-space: nowrap;
    position: absolute;
    top: 0;
}

@media screen and (max-width: 1024px) {
    .show-dropdown {
        display: flex;
        flex-direction: column;
        top: 0;
        left: 100%;
        border: 1px solid #ffffff;
    }
}