.menuitem-wrapper {
    width: 100%;
}

.menu-item {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    border: none;
    background-color:#5e2e86;
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
}

.menu-item__2 {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 24px;
    align-items: center;
    border: none;
    background-color:#5e2e86;
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .menu-item {
        white-space: nowrap;
    }
}

.button-title {
    display: flex;
    align-items: center;
    padding-left: 8px;
    white-space: nowrap;
}

.dropdown-icon {
    padding-right: 3px;
    font-size: 24px;
}

.dd-items {
    font-size: 18px;
    padding-right: 4px;
}