.menuitem-wrapper {
    width: 100%;
}

.menuitem-container {
    position: relative;
    width: auto;
}

.menu-item {
    padding-left: 10px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-transform: uppercase; */
    border: none;
    background-color:#7b4094;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
}



.menu-item__2 {
    padding-left: 10px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    padding-right: 10px;
    background-color:#7b4094;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
}

.menu-item:hover {
    background-color: #6a3881;
    color: #fff;
    transition: all .2s ease-in-out;
}


.menu-item__2:hover {
    background-color: #6a3881;
    color: #fff;
    transition: all .2s ease-in-out;
    font-size: 17px;
}

@media screen and (max-width: 1024px) {
    .menu-item {
        white-space: nowrap;
    }

   
}

.button-title {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.button-title:hover {
    font-size: 18px;
}

.dropdown-icon {
    padding-right: 3px;
    font-size: 24px;
}

